include:
  - project: "GNOME/citemplates"
    file: "flatpak/flatpak_ci_initiative.yml"

.flatpak-vars:
  image: quay.io/gnome_infrastructure/gnome-runtime-images:gnome-46
  variables:
    MANIFEST_PATH: se.sjoerd.Graphs.json
    FLATPAK_MODULE: graphs
    APP_ID: se.sjoerd.Graphs
    RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
    CI_IMAGE_X86_64: "quay.io/gnome_infrastructure/gnome-runtime-images:gnome-master"
    BUNDLE: "se.sjoerd.Graphs.flatpak"
  interruptible: true

# Build Flatpak for x86_64
flatpak@x86_64:
  stage: build
  extends:
    - .flatpak@x86_64
    - .flatpak-vars

# Build Flatpak for aarch64
flatpak@aarch64:
  stage: build
  extends:
    - .flatpak@aarch64
    - .flatpak-vars

snap:
  stage: build
  image: snapcore/snapcraft
  script:
    - snapcraft --version
    - snapcraft
    - ls -la
  artifacts:
    expire_in: 1 week
    paths:
      - "*.snap"

python-lint:
  image: python:3.11.1
  stage: .pre
  script:
    - pip install flake8 flake8-docstrings flake8-simplify flake8-unused-arguments flake8-quotes flake8-bugbear flake8-pie flake8-print flake8-warnings flake8-commas flake8-builtins flake8-import-order pep8-naming
    - flake8

vala-lint:
  image: "valalang/lint:latest"
  stage: .pre
  script:
    - io.elementary.vala-lint graphs

pages:
  image: debian:latest
  script:
    - apt-get update && apt-get upgrade -y
    - apt-get install -y yelp-tools
    - sh "build-aux/pages/build-help-html.sh"
    - chmod -R a=rwx public
  artifacts:
    paths:
      - "public"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  stage: deploy
